.App {
  text-align: center;
}

.Form{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
div input{
  width: 100%;
  border: none;
  border-bottom: 1px solid black;
}
.form-inline label {
  text-align: left;
  justify-content: start;
  padding-bottom: 6px;
  padding-top: 10px;
  font-weight: bold;
}
.checkbox-label{
  padding: 0px;
  padding-left: 4px;
}
.check{
  width: auto;
}
.customSelect{
  width: 100%;
}